# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# User directories
data/*
training_runs/
sandbox/
.earthcare_config/*
.archive/


# Node / frontend
node_modules
node_modules.nosync
dist
dist.nosync
.vite/
*.local

# Local env (keep .env.example tracked) to ensure API keys aren't included in the repo
# Use the example as 
.env
.vscode